:root{
    --dark-blue: #08131c;
    --light-pink: #ef626c;
    --dull-white: #eff9f0;
    --dark-gray: #191919;
}


.mycolor{
    background-color: rgb(9, 87, 107);
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: var(--dark-gray);
    border: none;
    color:white;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

i, span {
    display: inline-block;
}
