<div class="form-wrapper">
  <div class="row">
    <div class="col-12">
      <img src="../../../assets/images/SGSITS-Indore-Logo.png" alt="SGSITS LOGO" class="img">
      <h3>Change Password</h3>
    </div>

  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <form action="#" method="POST">
        <div class="form-group">
          <input type="password" class="form-control" id="currentPass" aria-describedby="cp" placeholder="Current Password">
          <input type="password" class="form-control" id="newPass" aria-describedby="np" placeholder="New Password">
          <input type="password" class="form-control" id="confirmPass" placeholder="Confirm Password">
        </div>
        <button type="submit" class="button" id="login-btn">Change</button>
        <br>
        <br>
        <small>&copy;opyright 2018 @ Anuj Jain & Vikram Patel</small>
      </form>
    </div>
  </div>
</div>