.form-wrapper{
    position: absolute;
    left: 40;
    top: 40;
    width: 40%;
    vertical-align: middle;
    padding: 20px 40px;
    margin: 0 auto;
    border-radius: 8px;
   
}

.img{
    display: block;
    width: 45%;
    margin: 0 auto;
}

h3{
    font-size: 1.2rem;
    color: black;
    text-align: center;
}