<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <h4>Register A Clerk</h4>

        <label for="Input4">Employee ID: </label>
        <input type="text" class="form-control" name="code" id="Input4" placeholder="Employee ID" [(ngModel)]="clerk.id">

        <label for="Input1">Name: </label>
        <input type="text" class="form-control" name="name" id="Input1" placeholder="Name" [(ngModel)]="clerk.name">
    
        <label for="Input2">Email: </label>
        <input type="text" class="form-control" name="address" id="Input2" placeholder="Email" [(ngModel)]="clerk.email">
    
        <label for="Input3">Password: </label>
        <input type="text" class="form-control" name="department" id="Input3" placeholder="Password" [(ngModel)]="clerk.password">

        <label for="Input4">Confirm Password: </label>
        <input type="text" class="form-control" name="department" id="Input4" placeholder="Password" [(ngModel)]="clerk.cpassword">
        <br>
        <br>
        <input type="submit" value="Add" (click)="addClerk()" class="btn btn-dark btn-secondary btn-lg  btn-block quit">
    </div>
    <div class="col-2"></div>
  </div>
</div>
