<div class="col-12">
  <div class="modal_form">
    <div class="modal__content">
      <label for="click" style="float:right">
        <a class="close-x quit" (click)="closex()">X</a>
      </label>
  <h4>Allot Examiner</h4>
  <form (ngSubmit)="allotExaminers()" [formGroup]="myform" novalidate>
   
      <label for="sub_code">Subject Code</label>&nbsp;
      <select class="form-control" name="scode" id="sub_code" (change)="myFunction(allot.subject_code)" [(ngModel)]="allot.subject_code"  formControlName="scode">
        <option *ngFor="let scode of subjects" value={{scode.Code}} >{{scode.Code}}</option>
      </select>
      <p class="small" *ngIf="isValid('scode')">Subjecet Code is Mandatory</p>
  
   
        <label for="ex1_name">Internal Examiner</label>&nbsp;
        <select class="form-control" name="internal" id="ex1_name" [(ngModel)]="allot.internal_examiner"  formControlName="internal" >
          <option value="">None</option>
          <option *ngFor="let examiner of internal_examiners" value={{examiner.name}} >{{examiner.name}}</option>
        </select>
    
   
        <label for="ex2_name">External Examiner</label>&nbsp;
        <select class="form-control" name="external" id="ex2_name" [(ngModel)]="allot.external_examiner"  formControlName="external" >
            <option value="">None</option>
          <option *ngFor="let examiner of external_examiners" value={{examiner.name}} >{{examiner.name}}</option>
        </select>
        <br>
        
      <button type="submit" class="btn btn-dark form-control" [disabled]="myform.invalid">Allot</button>

  </form>
  </div>
  </div>
  
  <div class="overlay"></div>
  <h4>Alloted Examiners</h4>
  <hr>
  <div class="row">
    <div class="col-5">
        <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fas fa-search"></i>
              </div>
              <input type="text" id="search" class="form-control" name="searchString" placeholder="Type Subject Code..." [(ngModel)]="searchString">
            </div>
        </div>
      </div>
      <div class="col-2 nopadding">
        <input type="checkbox" id="click" style="display:none;" />
        <label class="button-dark" for="click">
          <a id="add" class="btn btn-dark text-white" (click)="openAddWindow()">Allot Examiner</a>
        </label>
      </div>
      
    <div class="col-2">
      <input type="checkbox" id="click" style="display:none;" />
      <label class="button-dark" for="click">
        <a id="add" class="btn btn-dark btn-block text-white" (click)="appointmentLetter()">Generate Proposal letter</a>
      </label>
    </div>
</div>

   <div> <!-- *ngIf='alloted_examiners.length>0'> -->
    <table class="table table-striped table-bordered table-sm">
      <thead class="table-dark">
        <tr>
          <th> <div class="ui-g" style="margin-bottom:10px">
          <input type="checkbox" name="selectAll" [(ngModel)]="all" (change)="selectAll()">
          </div></th>
          <th>#</th>
          <th>Subject Group</th>
          <th>Internal Examiner</th>
          <th>External Examiner</th>
          <th>Paper Setter</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alloted of alloted_examiners | filter : 'subject_code' : searchString | paginate: { itemsPerPage: 5, currentPage: p}; let idx = index">
          <td> <input type="checkbox" name="cb" [checked]="all" value="{{alloted.subject_code}}" (change)="toggleSelection(alloted.subject_code)"></td>
          <th scope="row">{{idx+1}}</th>
          <!-- <td><span *ngFor="let sg of groups[idx]">{{sg.Code}}/</span></td> -->
          <td>{{alloted.subject_code}}</td>
          <td>{{alloted.internal_examiner}}</td>
          <td>{{alloted.external_examiner}}</td>
          <td>
            <div>
              <div class="row">
              <div class="col-8">
                  <select class="form-control" id="#ps" [(ngModel)]="ps_name" *ngIf="!alloted.ps_name">  
                      <option>{{alloted.internal_examiner}}</option>
                      <option>{{alloted.external_examiner}}</option>
                </select>
                <div *ngIf="alloted.ps_name">{{alloted.ps_name}}</div>
              </div>
              <div class="col-4" *ngIf="!alloted.ps_name">
                  <button (click)="updateAlloted(alloted)" class="btn btn-sm btn-outline-success">Update</button>
              </div> 
            </div>
          </div>
          </td>
          <td>
            <a (click)="deleteAlloted(alloted.subject_code)">
              <i class="fas fa-times"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    <div class="export-wrapper">
        <input type="button" class="btn btn-block btn-sm btn-outline-danger" (click)="deleteAllAlloted()" value="Delete All">
    </div>
    <div class="form-group export-wrapper">
        <input type="button" class="btn btn-block btn-sm btn-outline-success form-control" (click)="doit('xlsx')" value="Export">
    </div>
    
  </div>
</div>