<div class="col-12">
  <h4>Paper Recieved Status</h4>
  <hr>
  <!-- <div *ngIf='allotedService.alloted.length>0'> -->
  <div>
    <!--  temp -->
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fas fa-search"></i>
            </div>
            <input type="text" class="form-control" name="searchString" placeholder="Type to Subject Code..." [(ngModel)]="searchString">
          </div>
        </div>
      </div>
      <div class="col-1">
        <input type="checkbox" id="click" style="display:none;" />
        <label class="button-dark" for="click">
          <a id="add" class="btn btn-dark text-white" (click)="notify()">Notify</a>
        </label>
      </div>
    <div class="col-2">
      <input type="checkbox" id="click" style="display:none;" />
      <label class="button-dark" for="click">
        <a id="add" class="btn btn-dark btn-block text-white" (click)="appointmentLetter()">Generate Proposal letter</a>
      </label>
    </div>
  </div>

 
  <table class="table table-striped table-bordered table-sm" id="example">
    <thead class="table-dark">
      <tr>
        <th>
          <input type="checkbox" name="" id="">
        </th>
        <th>#</th>
        <th>Subject Code</th>
        <th>Papper Setter</th>
        <th>Proposal</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alloted of alloted_examiners | filter : 'subject_code' : searchString | paginate: { itemsPerPage: 10, currentPage: p}; let idx = index">
        <td>
          <input type="checkbox" name="" id="">
        </td>
        <th scope="row">{{idx+1}}</th>
        <td>{{alloted.subject_code}}</td>
        <td>{{alloted.ps_name | uppercase }}</td>
        <td><div id="#pp">
            <div class="row">
            <div class="col-4"> 
                <select class="form-control input-sm" [(ngModel)]="proposal" *ngIf="alloted.proposal !== 'Generated'">
                    <option value="Not Generated">Not Generated</option>
                    <option value="Generated">Generated</option>
              </select>
              <div *ngIf="alloted.proposal == 'Generated'">{{alloted.proposal}}</div>
            </div>
            <div class="col-4" *ngIf="alloted.proposal !== 'Generated'">
                <button (click)="updateStatus(alloted, alloted.ps_name)" class="btn btn-sm btn-outline-success">Update</button>
            </div>
          </div>
        </div></td>
        <td><div id="#ps">
            <div class="row">
            <div class="col-4"> 
                <select class="form-control input-sm" [(ngModel)]="status" *ngIf="alloted.status !== 'Received'">
                    <option value="Not Received">Not Received</option>
                    <option value="Received">Received</option>
              </select>
              <div *ngIf="alloted.status === 'Received'">{{alloted.status}}</div>
            </div>
            <div class="col-4" *ngIf="alloted.status !== 'Received'">
                <button (click)="updateStatus(alloted, alloted.ps_name)" class="btn btn-sm btn-outline-success">Update</button>
            </div>
          </div>
        </div></td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
  <div class="form-group export-wrapper">
      <input type="button" class="btn btn-block btn-sm btn-outline-success form-control" (click)="doit('xlsx')" value="Export">
  </div>
</div>
</div>