
.heading
{
    font-family: 'Bitter', serif;
}

#h3
{
    padding-top: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    color: #08131c;
    text-align: center;
}

.underline
{
    background-color: #191919;
    opacity: 0.3;
    height: 1px;
    margin: auto;
    width: 80%;

}


.img-wrapper{
    width: 60%;
    margin: 0 auto;
}

img{
    padding: 5%;
}

@media screen and (max-width: 768px) {
    .img-wrapper{
        width: 60%;
        padding: 5%;
    }
    img{
        width: 100%;
        /* height: 80%; */
    }
    #h3
    {
        font-size: 1.2rem;
    }
    
}