.title{
    width:90%;
    margin:0 auto;
}

.img{
    height: auto;
    width: auto;
    margin: 50px auto;

}
.content{
    /* background-color: aqua; */
}
.img-wr
{
    width:30%;
    margin:0 auto;

}