
/*  Form Modal */ 
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    background: #000;
    pointer-events: none;
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}

.overlay_on{
    pointer-events: auto;
    opacity: 0.9;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: transform 0.5s ease, opacity 0.5 ease;
    transition: transform 0.5s ease, opacity 0.5 ease;
} 
.modal_form{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%) scale(0.5);
    width: 100%;
    max-width: 640px;
    pointer-events: none;
    opacity: 0;
}

.modal_form_on{
    pointer-events: auto;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.5s ease, opacity 0.5s ease;
    transition-delay: 0.1s;
}

.modal__content{
    display: block;
    padding: 30px;
    background: white;
}

.close-x{
    cursor: pointer;
    font-weight: bold;
}
